# In all environments, the following files are loaded if they exist,
# the later taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> monolog ###
MONOLOG_LOG_LEVEL=debug
MONOLOG_LOG_BUBBLE=true
MONOLOG_SOURCE=default
###< monolog ###

###> sentry ###
SENTRY_DSN=https://KEY@INSTANCE.ingest.us.sentry.io/NAMESPACE
SENTRY_ENVIRONMENT=${APP_ENV}
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_PROFILE_SAMPLE_RATE=1.0
###< sentry ###

###> prometheus ###
PROMETHEUS_NAMESPACE=project-name
PROMETHEUS_STORAGE=in-memory
PROMETHEUS_REDIS_HOST=redis
PROMETHEUS_REDIS_PORT=6379
PROMETHEUS_REDIS_DATABASE=0
PROMETHEUS_REDIS_TIMEOUT=0.1
PROMETHEUS_REDIS_READ_TIMEOUT=10
PROMETHEUS_REDIS_PERSISTENT_CONNECTIONS=false
PROMETHEUS_REDIS_PASSWORD=secret
PROMETHEUS_REDIS_URL=redis://${PROMETHEUS_REDIS_PASSWORD}@${PROMETHEUS_REDIS_HOST}
###< prometheus ###
