<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="Tests/Pest.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <server name="KERNEL_CLASS" value="FRZB\Component\MetricsPower\Tests\Stub\Kernel"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="TEST_ENVIRONMENT" value="TEST_VALUE"/>
        <env name="SENTRY_DSN" value="https://KEY@INSTANCE.ingest.us.sentry.io/NAMESPACE"/>
        <env name="SENTRY_ENVIRONMENT" value="test"/>
        <env name="SENTRY_TRACES_SAMPLE_RATE" value="0"/>
        <env name="SENTRY_PROFILE_SAMPLE_RATE" value="0"/>
        <env name="PROMETHEUS_NAMESPACE" value="test_unblocker"/>
        <env name="PROMETHEUS_STORAGE" value="in-memory"/>
        <env name="PROMETHEUS_REDIS_HOST" value="redis"/>
        <env name="PROMETHEUS_REDIS_PORT" value="6379"/>
        <env name="PROMETHEUS_REDIS_DATABASE" value="0"/>
        <env name="PROMETHEUS_REDIS_TIMEOUT" value="10"/>
        <env name="PROMETHEUS_REDIS_READ_TIMEOUT" value="10"/>
        <env name="PROMETHEUS_REDIS_PERSISTENT_CONNECTIONS" value="false"/>
        <env name="PROMETHEUS_REDIS_PASSWORD" value="secret"/>
        <env name="PROMETHEUS_REDIS_URL" value="redis://redis"/>
    </php>

    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory  suffix=".php">./</directory>
        </include>
        <exclude>
            <directory suffix=".php">docker</directory>
            <directory suffix=".php">var</directory>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">Resources</directory>
            <directory suffix=".php">Tests</directory>
            <directory suffix=".php">DependencyInjection</directory>
            <file>.php-cs-fixer.dist.php</file>
            <file>MetricsPowerBundle.php</file>
            <file>MetricsPowerExtension.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml" />
            <cobertura outputFile="build/logs/cobertura.xml"/>
            <html outputDirectory="build/logs/html" />
            <xml outputDirectory="build/logs/xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>
</phpunit>
